{% extends 'profile_dashboard.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block page_subtitle %}Manage your account information{% endblock %}

{% block maincontent %}
<h1 class="text-center alert-secondary">My Order List</h1>
<div class="container">
    <div class="row">
        {% for order in orders %}
        <div class="col-4 alert alert-info border border-2 border-success">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h4>Transaction Code:{{order.transaction_code}}</h4>
    <h5>Status:<span class="badge text-bg-success">{{order.status}}</span> </h5>
  </div>
  {% for i in order.items.all %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Product Name:{{i.product.name}}</li>
    <li class="list-group-item">Price:{{i.price}}</li>
    <li class="list-group-item">Quantity:{{i.quantity}}</li>
  </ul>
  {% endfor %}
</div>
</div>
        {% endfor %}
</div>
</div>
{% endblock maincontent %}